<h2>Cadastre-se</h2>
 
    <ul class="tabs" id = "menu" hidden="true">
     <lu id="tab1" ><a href="#Medico">Médico</a></lu>   
    <lu id="tab2"><a href="#Paciente" >Paciente</a></lu>                                                                                          
</ul>

<div class="cont_tab" id="Medico" >
<%= render "devise/registrations/medico" %>
</div>
<div class="cont_tab" id="Paciente">
<%= render "devise/registrations/paciente" %>
</div>





