<% content_for :css do %>
  <link rel="stylesheet" href="/stylesheets/users.css">
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<body>

    <%= f.email_field :email, autofocus: true, :placeholder => "E-mail"%> 

    <%= f.password_field :password, autocomplete: "off",:placeholder => "Senha"%>

 	<button class = "but" type="submit">Login</button><br><br>

 	<div class = senha2>
 	<ol><a href="/users/password/new">Esqueceu sua senha?</a></ol>
 	</div>

<br>

	<h7> Quer fazer parte do time? </h7>
	<br><br>
	<button class = "but2" type="button" onclick="window.open('/cadastro/medico','_parent')">Cadastre-se</button>

</body>


<br>
    <div class ="mensagem">
		<% flash.each do |inactive_message, msg| %>
  		<%= content_tag(:div, msg, class: "failure failure-#{inactive_message}") %>
		<% end %>
	</div>
<% end %>


