<% content_for :css do %>
  <link rel="stylesheet" href="/stylesheets/users.css">
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<body>

    <%= f.email_field :email, autofocus: true, :placeholder => "E-mail"%>

     
    <%= f.password_field :password, autocomplete: "off",:placeholder => "Senha"%> 
   
   
 	<button class="but" type="submit">Login</button>

 	<br>

	<button class="face" type="button" onclick="window.open('auth/facebook');"></button>

 	<br>

 	<div class = senha>
 		<ol><a href="/users/password/new">Esqueceu sua senha?</a></ol>
 	</div>

	<br>

	<h7>É a sua primeira consulta? </h7>
	<br><br>
	<button class = "but2" type="button" onclick="window.open('/cadastro/paciente','_parent');";">Cadastre-se</button>

</body>

 	<div class ="mensagem">
		<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, :id => "flash" if msg.length > 0 %>
		<% end %>
	</div>

<% end %>



