<div id="topo">
  <img src="/assets/medko-02.png">
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <ul class="tabs" id = "menu">
      <lu id="tab1"><a href="#Paciente" >Paciente</a></lu>    
     <lu id="tab2" ><a href="#Medico">Médico</a></lu>                                                                                           
     </ul>


<div class="fundo2">
<div class="cont_tab" id="Paciente">
<%= render "users/sessions/paciente" %>
</div>
<div class="cont_tab" id="Medico" >
<%= render "users/sessions/medico" %>
</div>



</div>

<% end %>
