<%= stylesheet_link_tag "specialities", media: "all" %>

<%= form_for @exam_type, html: {multipart: true} do |f| %>
  <% if @exam_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_type.errors.count, "error") %> prohibited this exam_type from being saved:</h2>

      <ul>
      <% @exam_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="speciality_campos">
<div class="field">
  <i class="fa fa-file-image-o"></i> <label class="custom-file-address" for="exam_type_image_url" ></label> <input type="file" id="exam_type_image_url" name="exam_type[image_url]" class="custom-file-address" style="visibility: hidden"/>
</div><br>


  <div class="field">
    <%= f.text_field :name,  :placeholder => "Nome" %>
  </div>

    <div class="field">
     <label id="speciality">Domiciliar
     <%= f.check_box :home_care, value: "0"%></label>
    </div>
    <br><br>
</div>

  <div id="speciality_cancel"><%= link_to 'Cancelar',exam_types_path%></div> <button class="but_speciality">Criar</button>

<% end %>
