<%= stylesheet_link_tag "specialities", media: "all" %>

<%= form_for @speciality, html: {multipart: true}   do |f| %>
  <% if @speciality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speciality.errors.count, "error") %> prohibited this speciality from being saved:</h2>

      <ul>
      <% @speciality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="speciality_campos">

<div class="field">
  <i class="fa fa-file-image-o"></i> <label class="custom-file-address" for="speciality_image_url" ></label> <input type="file" id="speciality_image_url" name="speciality[image_url]" class="custom-file-address" style="visibility: hidden"/>
</div><br>

  <div class="field">
    <%= f.text_field :name,  :placeholder => "Nome"%>
  </div>

    <div class="field">
     <label id="speciality">Domiciliar
     <%= f.check_box :home_care, value: "0"%></label>
    </div>
    <br><br>
</div>
    <div id="speciality_cancel"><%= link_to 'Cancelar', specialities_path%></div> <button class="but_speciality">Criar</button>

<% end %>
