<%= stylesheet_link_tag "paciente_cadastro", media: "all" %>

<%= form_for @user, url: users_path, html: {multipart: true} do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="campos">
<br>

<h1> Dados Pessoais </h1>
 
<% if  @user.avatar.url != nil %>
  <label class="custom-file-input" for="user_avatar" ></label>
      <input type="file" id="user_avatar" onchange="readURL(this);" name="user[avatar]" class="custom-file-input" style="visibility: hidden"/>
          <div id="icon2">
            <img id="avatar_show" src=<%= @user.avatar.url %>/>
          </div>
          <%elsif   @user.avatar.url == nil%> 
          <label class="custom-file-input" for="user_avatar" ></label>
      <input type="file" id="user_avatar" onchange="readURL(this);" name="user[avatar]" class="custom-file-input" style="visibility: hidden"/>
          <div id="icon2">
            <img id="avatar_show" src=<%= @user.facebook_avatar_url %>/>
          </div>
    <%end%>      

<div class="field">
    <%= form.text_field :name,:placeholder => "Nome" %>
  </div>

  <div class="field">
    <%= form.text_field :telephone, :placeholder => "Telefone" %>
  </div>

     <div class="field">
    <%= form.email_field :email, :placeholder => "E-mail"%>
  </div>

  <div class="field">
    <%= form.password_field :password, autocomplete: "off", :placeholder => "Senha"%>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, autocomplete: "off",:placeholder => "Confirmar Senha"%>
  </div>
 <br>
 <button id="submit" type="submit">Editar</button>

    <div class="hidden_field">
   <input type="hidden" id="active" name="user[active]" value="true" />
  </div>
 <br>

  <% end %>

</div>
<br>