<%= stylesheet_link_tag "medico_cadastro", media: "all" %>


<%= form_for @user, url: users_path, html: {multipart: true} do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="campos">
<br>
  <h1>Dados pessoais</h1>

  <% if  @user.avatar.url != nil %>
    <label class="custom-file-input" for="user_avatar" ></label>
      <input type="file" id="user_avatar" onchange="readURL(this);" name="user[avatar]" class="custom-file-input" style="visibility: hidden"/>
          <div id="icon2">
            <img id="avatar_show" src=<%= @user.avatar.url %>/>
          </div>
      <%elsif   @user.avatar.url == nil%> 
          <label class="custom-file-input" for="user_avatar" ></label>
      <input type="file" id="user_avatar" onchange="readURL(this);" name="user[avatar]" class="custom-file-input" style="visibility: hidden"/>
          <div id="icon2">
            <img id="avatar_show" src=<%= @user.facebook_avatar_url %>/>
          </div>
    <%end%>      

    <div class="field">
    <%= form.text_field :name, :placeholder => "Nome"%>
  </div>

  <div class="field">
    <%= form.text_field :crm, :placeholder => "CRM"%>
  </div>

   <div class="field">
    <%= form.text_field :telephone, :placeholder => "Telefone" %>
  </div>
  
  
<div class="field">
    <label id="classificacao">Aceito exibir classificação 
     <%= form.check_box :rating, value: "0", checked:true %></label><br><br>
  </div>


    <div class="field" >
    <%= form.email_field :email, :placeholder => "E-mail" %>
    </div>

  <div class="field">
  
    <%= form.password_field :password, autocomplete: "off", :placeholder => "Senha" %></div>
  

  <div class="field">
    <%= form.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirmar senha"%>
  </div>

<br>
<br>

  <h1>Endereço</h1>

    <div class="field">
      <%= form.text_field :zip_code, :placeholder => "Cep", :id => "zip_code"%>
    
      <%= form.text_field :address, :placeholder => "Endereço", :id => "endereco"%>
    </div>

<br>
<br>

 <h1>Dados de atendimento </h1>

<div class="field">
  <%= collection_select 'user', 'exam_type_ids',
        ExamType.all.map,:id, :name, 
        { :selected => @user.exam_type_ids}, 
        { :name =>'user[exam_type_ids][]',size: "12",class:'exame',:multiple=>"multiple"} %>
</div>


<div class="field">
 <%= collection_select 'user', 'speciality_ids',
        Speciality.all.map,:id, :name,
        { :selected => @user.speciality_ids}, 
        { :name =>'user[speciality_ids][]',size: "8",:class=>'especialidade',:multiple=>"multiple"}%>
</div>
 <%= form.number_field :value_home_care, :placeholder => "Valor da consulta a domicílio" %>

<br>
<br>
 <h1>Documentos</h1><br>

<label class="custom-file-address" for="user_proof_of_address_image" ></label>
  <input type="file" id="user_proof_of_address_image" name="user[proof_of_address_image]" class="custom-file-address" style="visibility: hidden"/>
<label class="custom-file-crm" for="user_crm_image"></label>
  <input type="file" id="user_crm_image" name="user[crm_image]" class="custom-file-crm" style="visibility: hidden"/>
   
  <%= form.fields_for :bank_account do |ff| %>

 <h1>Dados Bancarios</h1>

 <div class="field">
    <%= ff.text_field :bank , :placeholder => "Banco"%>
  </div>

  <div class="field">
    <%= ff.text_field :full_name , :placeholder => "Nome Completo"%>
  </div>

  <div class="field">
    <%= ff.text_field :cpf_cnpj, :placeholder => "CPF" %>
  </div>

  <div class="field">
    <%= ff.text_field :account, :placeholder => "Conta"%>
  </div>

  <div class="field">
    <%= ff.text_field :operation, :placeholder => "Operacao" %>
  </div>

   <div class="field">
    <%= ff.text_field :agency, :placeholder => "Agencia" %>
  </div>

  <% end %>

  <div class="hidden_field">
   <input type="hidden" id="account_type_id" name="user[account_type_id]" value="3" />
  </div>

   <div class="hidden_field">
   <input type="hidden" id="active" name="user[active]" value="true" />
  </div>
<br>
  <button id="submit" type="submit">Editar</button>
  <br>
<% end %>
