<p id="notice"><%= notice %></p>

 <table class="table table-striped">
     <thead class= "titulos_user">
      <tr>
      <th><div class="payment_th">Nome</div></th>
      <th><div class="payment_th">E-mail</div></th>
      <th><div class="payment_th">Telefone</div></th>
      <th><div class="payment_th">Tipo</div></th>
      <th><div class="payment_th">Ativo</div></th>
      <th><div class="payment_th">Bloqueado</div></th>
      <th><div class="payment_th"></div></th>
      </tr>
    </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.telephone %></td>
        <td><%= user.account_type.try(:name) %></td>
        <% if user.active == true %>
        <td><div class= "imagens_user"><%= image_tag("/assets/checked-mark.png") %></div></td>
        <% else %>
        <td>  </td>
        <% end %>
        <td><%= user.blocked_message %></td>
        <% if user.id == current_user.id %>
        <td><%= link_to image_tag("/assets/multimedia.png"), edit_user_path(user.id) %></td>
        <% else %>
          <td><div class= "imagens_user"> <%= link_to image_tag("/assets/eye.png"), edit_user_path(user.id) %></div></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
