<%= stylesheet_link_tag "show", media: "all" %>

<div id="profile-container"><h1 id="consultas">Visualizar usuário</h1>
	<div class ="corpo1">
	<br>
	<div class ="avatar" style="background:url(<%= @user.avatar.url %>);"></div>
	
	</div>

	<div class ="corpo2">
	  <div class ="object-profile"><img src="/assets/people.png"/><%= @user.name%></div>
	  <div class ="object-profile"><img src="/assets/phone-receiver.png"/><%= @user.telephone %></div>
	  <div class ="object-profile"><img src="/assets/close-envelope.png"/><%= @user.email %></div>
	 <% if @user.rating == true %> 
	 <div class ="rating"><%= render_stars(@user.media)%></div>
	 <%end%>
	</div>
</div>