<%= stylesheet_link_tag "service_windows", media: "all" %>

<div class="agenda"><h1>Agenda</h1></div>
<div class="preto"> </div> <br><br>

   <ul class="tabs" id = "menu">

      <lu id="tab1" ><a href="#Windows">Configurar horário</a></lu>                        
    <lu id="tab2"><a href="#Calender">Agenda</a></lu>  
                                                             
     </ul>

</div>
<div class="cont_tab" id="Windows">
	<%= render "service_windows/windows" %>
</div>

<div class="cont_tab" id="Calender" >
 	<%= render 'service_windows/calendar'%>
</div>
<br>

