<p id="notice"><%= notice %></p>

<h1>Listing Device Ids</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Os</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_ids.each do |device_id| %>
      <tr>
        <td><%= device_id.token %></td>
        <td><%= device_id.os %></td>
        <td><%= device_id.user %></td>
        <td><%= link_to 'Show', device_id %></td>
        <td><%= link_to 'Edit', edit_device_id_path(device_id) %></td>
        <td><%= link_to 'Destroy', device_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_id_path %>
