<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @device_id.token %>
</p>

<p>
  <strong>Os:</strong>
  <%= @device_id.os %>
</p>

<p>
  <strong>User:</strong>
  <%= @device_id.user %>
</p>

<%= link_to 'Edit', edit_device_id_path(@device_id) %> |
<%= link_to 'Back', device_ids_path %>
