<%= form_for(@payment_period) do |f| %>
  <% if @payment_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_period.errors.count, "error") %> prohibited this payment_period from being saved:</h2>

      <ul>
      <% @payment_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :accomplished %><br>
    <%= f.check_box :accomplished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
