<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @bank_account.bank %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @bank_account.full_name %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @bank_account.cpf_cnpj %>
</p>

<p>
  <strong>Account:</strong>
  <%= @bank_account.account %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @bank_account.operation %>
</p>

<p>
  <strong>User:</strong>
  <%= @bank_account.user %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
