<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead class= "titulos_user">
    <tr>
    <th><div class="payment_th">Périodo</div></th>
    <th><div class="payment_th">Valores</div></th>
    <th></th>
    </tr>
  </thead>


  <tbody>
    <% @payments.each do |payment| %>
  <% if payment.receipt_period.try(:start_date) != nil%>
      <tr>
       <td>
          <div class="payment_text">
          <input type="hidden" id="receipt_id" value="<%= payment.receipt_period.id %>"/>
              Inicio: <%= payment.receipt_period.try(:start_date).strftime("%d/%m/%Y") %>
          </div>
          <div class="payment_text">
              Fim: <%= payment.receipt_period.try(:end_date).strftime("%d/%m/%Y") %> 
          </div>
      </td>

        <td>
        <div class="payment_text">
        Valor recebido pelo app nesse período: <%= number_to_currency_br(payment.receipt)%></div>
        <div class="payment_text">
        Valor para receber do app:  <%= number_to_currency_br(payment.receipt_period.try(:value)) %></div>
        </td>

      <td>
      <% if payment.receipt_period.try(:accompliched) != true %>  
        <input type="button" value="Realizado" class="realizar" id ="button_payment"></input>
      <% else %>
        <div class="realizar_checked">
                <img src="/assets/checked-mark.png"/>
            </div>
       <% end %> 
      </td>

      </tr>
    <% end %>
  </tbody>
<% end %>
</table>

<br>

<script type="text/javascript">
  
$(".realizar").on("click", function() {
          var id = $('#receipt_id').val(); 

          $.ajax({
              type: "post",
              url: "/payment/receipt",
              data: {payment: {id}},
              success: function (){
              window.location.reload()
             }
          });
      });
</script>