.exam_adm h1 {
    color: #DCDCDC;
    margin-top: -9px !important;
}

.bot_adm img {
    background-color: #63ba9c;
    float: right;
    width: 23px;
    height: 23px;
    margin-right: 125px;
    margin-top: -13px;
    border-right: 1px solid #fff;
    padding: 11px 10px;
}

.button_adm {
    background-color: #63ba9c;
    border: none;
    position: absolute;
    right: 1px;
    top: 95px;
    margin-top: 4px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 11px 5px;
}

.bot_speciality img {
    background-color: #63ba9c;
    float: right;
    width: 23px;
    height: 23px;
    margin-right: 180px;
    margin-top: -13px;
    border-right: 1px solid #fff;
    padding: 11px 10px;
}

.button_speciality {
    background-color: #63ba9c;
    border: none;
    position: absolute;
    right: 1px;
    top: 95px;
    margin-top: 4px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 11px 5px;
}

#speciality {
    color: #63ba9c;
    margin-right: 630px;
}

input[type="checkbox"] {
    color: #63ba9c;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 28px;
    margin-left: -94px;
    margin-top: 8px;
    padding: 10px 150px;
    text-align: right;
}

#speciality_image{
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover !important;  
}

#speciality_cancel a{
    background-color: #492566;
    text-decoration: none;
    color:#fff;
    padding: 14px 85px;
    border:none;
    font-size: 30px;
    box-shadow: 2px 2px 5px 2px #999;
    margin-right: 50%;
}

.but_speciality{
     color:#fff;
     background-color:#63ba9c;
     padding: 11px 113px;
     font-size: 30px;
     border:none;
     box-shadow: 2px 2px 5px 2px #999;
     margin-right: 30%;
     margin-top: -45px;
}

#speciality_image_url{
    text-align: right;
    margin-top: -9px;
    position: fixed;
}

.fa-file-image-o{
    color:#63ba9c;
    font-size: 47px;
    margin-top: 2px;
}

.speciality_campos{
    float:right;
    margin-right: 30%;
    margin-top: 50px;

}

.custom-file-address::before {
    content: 'Icone';
    background: #fafafa;
    border: 1px inside #C1CDC1;
    color: #838B83;
    padding: 10px 280px;
    font-size: 20px;
}

/* =============== Estilos da tabela zebrada =============== */


.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
   
}

.table-striped tbody tr:nth-child(odd) td, .ls-table-striped.ls-bg-header tr:nth-child(even) td {
    background: #f7f7f7;
    width: 30px;


}
.table tbody tr:last-child td, .ls-table tbody tr:last-child th {
    border-bottom: none;

}
.table td, .ls-table th {
    padding: 13px;
    text-align: left;
    font-size: 20px;
}

.table td:hover {
    font-weight: normal;
}