<%= stylesheet_link_tag "attendences", media: "all" %>
<%= javascript_include_tag "jRating.jquery.js" %>


<div class ="mensagem_fail">
    <% flash.each do |notice, msg| %>
      <%= content_tag(:div, msg, class: "message  message -#{message }") %>
    <% end %>
  </div>
  
<%= form_for(@attendence) do |f| %>
  <% if @attendence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendence.errors.count, "erro") %> foi encontrado:</h2>
      <ul>
      <% @attendence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "consulta_show">
   Consulta 
  </div>

  <div class="preto2"> </div>


<!--Dados do modal //-->

     <div id="dialog" title="Cancelar"> 
     <hr width=100% noshade >
          Cancelamentos sucessivos podem bloquear sua conta 
          <br>
          <input type="button" value="confirmar" class="cancelar" id="cancelar2"></input> 
      </div>

<div id="profile-container"><br><br>

  <!-- Avatar e dados abaixo dele //-->

    <div class ="corpo3">
      <br>
      <div class ="avatar_show" style="background:url(<%= @attendence.doctor.avatar.url %>);">
        <div class ="avatar_down"><div class ="paciente_nome"><%= link_to @attendence.doctor.try(:name),user_path(@attendence.doctor_id)%>
        <br></div>
        <%= @attendence.exam_type.try(:name)%> | <%= @attendence.speciality.try(:name)%></div>
      </div>
    </div>

<!-- Plano de saude e pagamento //-->

        <div class ="corpo4">
        <% if @attendence.health_plan_id == nil && @attendence.place_id != nil %>
          <div class ="object-profile"><img src="/assets/pagamento.png"/> R$ <%= @attendence.service_window.try(:value) %></div>
        <% elsif @attendence.health_plan_id != nil && @attendence.place_id != nil  %>
           <div class ="object-profile"><img src="/assets/pagamento.png"/> <%= @attendence.health_plan.try(:name) %></div>
        <% end %>

        <% if  @attendence.place_id == nil %>
          <div class ="object-profile"><img src="/assets/pagamento.png"/> R$ <%= @attendence.doctor.try(:value_home_care) %></div>
        <% end %>

<!-- Mostrar nome do local ou endereço //-->
      <br>
          <div class ="object-profile"><img src="/assets/ponteiro.png"/>
           
            <% if @attendence.place_id == nil %>
              Domicilio 
                <div class= "consulta_local">
                  <%=@attendence.search_address.try(:address)%>
                </div>
           <% end %>  
          
            <% if @attendence.place_id != nil %> 
              <%=@attendence.place.try(:name)%> <br>
              <div class= "address_local"> <%=@attendence.place.try(:address)%></div>
            <% end %>
      </div><br><br>

<!-- Mostrar data e horario da consulta //-->
        <% if  @attendence.date != nil %> 
              <% if  @attendence.attendence_status_id != 7 %> 
                <div class ="object-profile">
                  <img src="/assets/clock.png"/><%= @attendence.date.strftime("%d/%m/%Y - %H:%M") %>
                </div>
              <% end %>

                 <% if  @attendence.attendence_status_id  == 7 && @attendence.place_id == nil %> 
                <div class ="object-profile"><br>
                  <img src="/assets/clock.png"/><%= @attendence.date.strftime("%d/%m/%Y - %H:%M") %>
                </div>
              <% end %>
        <% end %>

<!-- Selecionar atendimento //-->
     
                    <tr>
                    <div class="show_times">
                      <% if @attendence.attendence_status_id == 7 && @attendence.place_id != nil  %>
                      <% @take_time = @attendence.service_window.take_time %>

                        <td>
                        <%= f.radio_button_tag 'date',@take_time[0],id:'date_new'%>
                        <img src="/assets/clock.png"/>
                        <%=f.label @take_time[0].strftime("%d/%m/%Y - %H:%M")%><br><br></td>
                        <td>
                        <%= f.radio_button_tag 'date',@take_time[1],id:'date_new'%>
                        <img src="/assets/clock.png"/>
                        <%=f.label @take_time[1].strftime("%d/%m/%Y - %H:%M")%><br><br></td>
                        <td>
                        <%= f.radio_button_tag 'date',@take_time[2],id:'date_new'%>
                         <img src="/assets/clock.png"/>
                        <%=f.label @take_time[2].strftime("%d/%m/%Y - %H:%M")%> <br><br></td>
                        <td>
                        <%= f.radio_button_tag 'date',@take_time[3],id:'date_new'%>
                         <img src="/assets/clock.png"/>
                        <%=f.label @take_time[3].strftime("%d/%m/%Y - %H:%M")%> <br><br></td>
                        <td>
                        <%= f.radio_button_tag 'date',@take_time[4],id:'date_new'%>
                         <img src="/assets/clock.png"/>
                        <%=f.label @take_time[4].strftime("%d/%m/%Y - %H:%M")%><br><br></td>
                        <td> 
                        <%= f.radio_button_tag 'date',@take_time[5],id:'date_new'%>
                         <img src="/assets/clock.png"/>
                        <%=f.label @take_time[5].strftime("%d/%m/%Y - %H:%M")%></td>

                    </tr> 
                    <br>
                    <br>
                    <div id="cancelar" class="opener2" ><%= link_to 'Cancelar', attendences_path%></div>
                    <input type="button" value="Confirmar" id="finalizar" class="send-time"></input> 
                   <% end %>

      </div>

<!-- Botões //-->

      <% if @attendence.date != nil %>
    
        <% if @attendence.date < DateTime.now && @attendence.attendence_status_id == 1 %>
          <input type="button" value="Finalizar consulta" class="finalizar"></input> 
        <% end %>
        <% if @attendence.date > DateTime.now && @attendence.attendence_status_id == 1  %>
          <input TYPE="BUTTON" NAME="submit" value="Cancelar" id ="cancelar_opner2"  class="opener" >
        <% end %>     

      <% end %>

        <%if @attendence.attendence_status_id == 2 && @attendence.classification_id == nil %>
           <hr width=90% shade style ="margin-left:35px, color:gray" >
           <div class="classifique"> Avalie este atendimento </h1></div>
           <hr width=90% shade style ="margin-left:35px, color:gray" >
           <div class="my-rating"></div>
       <% end %>


<!-- Mensagens dos status //-->

             <%if @attendence.attendence_status_id == 2 && @attendence.classification_id != nil %>
                <hr width=100% shade style ="margin-left:35px, color:gray" >
                <h1 style ="margin-left:15px" > Atendimento finalizado </h1>
             <%end%>
              <% if @attendence.attendence_status_id == 3 %>
                <hr width=90% shade style ="margin-left:38px, color:gray" >
                <h1> Atendimento cancelado </h1>
              <%end%>
              <% if @attendence.attendence_status_id == 4 %>
                 <hr width=80% noshade style ="margin-left:35px" >
                <h1> Aguardando confirmação do pagamento </h1>
              <%end%>
               <% if @attendence.attendence_status_id == 5 %>
                   <hr width=80% noshade style ="margin-left:35px" >
                <h1> Pagamento confirmado </h1>
              <%end%>
  </div>



<script type="text/javascript">

    $(".finalizar").on("click", function() {
          var id = '<%= @attendence.id %>';

          $.ajax({
             type: "post",
             url: "/attendence/confirm",
             data: {attendence: {id}},
             success: function (){
             window.location.reload()
             }
          });
      });

      $(".cancelar").on("click", function() {
          var id = '<%= @attendence.id %>';

          $.ajax({
              type: "post",
              url: "/attendence/cancel",
              data: {attendence: {id}},
              success: function (){
              window.location.reload()
             }
          });
      });

        $(".send-time" ).on("click", function() {
          var id = '<%= @attendence.id %>';
          var date = $('input[name=date]:checked').val()
          $.ajax({
              type: "post",
              url: "/attendence/time",
              data: {attendence: {id, date}},
              success: function (){
              window.location.reload()
             }
          });
      });

 $(".my-rating").starRating({
    starSize: 35,
    emptyColor: 'white',
    hoverColor: 'green',
    activeColor: 'purple',
    disableAfterRate:false,
    useGradient: false,
     callback: function(currentRating, $el){
          var value = currentRating;
          var id = '<%= @attendence.id %>';
          
          $.ajax({
              type: "post",
              url: "/classifications",
              data: { classification:{value},attendence: {id}},
              success: function (){
              window.location.reload()
           }
       });
    }
});

</script>
   
<% end %>
