  <%= stylesheet_link_tag "attendences", media: "all" %>
  <p id="notice"><%= notice %></p>


  <table class="table table-striped">
  
    <tbody>
      <% @attendences.each do |attendence| %>
      <tr>
          <td>
            <div class= "dados_user">
              <% if current_user.account_type_id == 3 %>
                  <img src="/assets/people.png"/>
              <%= link_to attendence.patient.try(:name),attendence%><br>
              <% end %>


              <% if current_user.account_type_id == 1 %>
                 <img src="/assets/med.png"/>
               <%= link_to attendence.doctor.try(:name),attendence%><br>
              <% end %>

              <%= attendence.exam_type.try(:name) %> |
              <%= attendence.speciality.try(:name) %>
              
          </td></div>

          <% if attendence.date != nil %>
            <td>
              <div class= "data_attendence">
              <img src="/assets/clock.png"/>
              <%= attendence.date.strftime("%d/%m/%Y - %H:%M")%>
            </td></div>  
          <% end %> 

<!-- Mostrar nome do local ou endereço //-->
            <% if attendence.place_id == nil %>
                <td>
                <div class ="local_attendece">
                <img src="/assets/ponteiro.png"/>
                Domicilio</td></div>
            <% else %>
                <td>
              <div class ="local_attendece">
              <img src="/assets/ponteiro.png"/>
              <%= attendence.place.try(:name) %></td></div>
            <% end %>
         
<!-- Plano de saude e pagamento //-->

             <% if attendence.health_plan_id != nil && attendence.place_id != nil %>
               <td><%= attendence.health_plan.try(:name) %></td>
                <% elsif attendence.health_plan_id == nil && attendence.place_id != nil  %>
              <td>R$<%= attendence.service_window.try(:value) %></td>
              <% else %>
                <td> App <%= attendence.doctor.try(:value_home_care) %></div></td>
              <% end %>

<!-- Status do atendimento//-->

            <td><%= attendence.attendence_status.try(:name)%></td>


          </tr>

          <% end %>
        </tbody>
      </table>

      <br>

