<% content_for :css do %>
  <link rel="stylesheet" href="/stylesheets/places.css">
<% end %>
  

  
<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "mapacampos">
      
        <%= f.text_field :name, placeholder: "Nome", size: "40px"%> 
 
       <%= f.text_field :address,  placeholder:"Endereço",id:"Endereco",size: "45px" %> 
       
       <%= f.text_field :complement,  placeholder: "Compl",size: "17px" %> 

       <%= f.hidden_field :latitude, id:"latitude"%>
 
       <%= f.hidden_field :longitude, id:"longitude"%>

       <%= f.hidden_field :user_id%>

       <button class="but4" type="submit">Criar local de atendimento</button></div>
 
<% end %>

<div id="mapa" style="height: 100%; width: 100%; margin-top:-15px;"></div>



