<h1>Editar local</h1>
<div class="preto"> </div>

<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "mapacampos">
      
        <%= f.text_field :name, placeholder: "Nome", size: "23px"%> 
 
       <%= f.text_field :address,  placeholder:"Endereço",id:"Endereco",size: "32px",autocomplete: true %> 
       
       <%= f.text_field :complement,  placeholder: "Compl",size: "17px" %> 

       <%= f.hidden_field :latitude, id:"latitude"%>
 
       <%= f.hidden_field :longitude, id:"longitude"%>

       <div class="field" hidden ="true"> <%= f.text_field :user_id %>  </div>

       <button class="but4" type="submit">Editar local de atendimento</button></div>
 
<% end %>

<div id="mapa" style="height: 100%; width: 100%"></div>


