<p>Ola! <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudança de senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se vocë não requisitou a mudança, por favor ignore esse e-mail.</p>
<p>Sua senha não vai mudar até que você acessar o link acima e criar um nova.</p>

